<header class="major">
    <h2><%= title %></h2>
    <p>Pagina que permite calcular los gastos de tu cliente</p>
</header>

<!-- Content -->
<section id="content">
    <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
    
    </ul>
</section>